@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Source+Sans+Pro&display=swap');
/*font-family: 'Quicksand', 'Verdana', sans-serif;
font-family: 'Trade Winds', 'Optima', cursive;*/

#content {
    max-width: 1600px;
    margin: 0 auto;
    
}

body {
    font-family: "McLaren";
    font-size: 22px;
    margin: 0;
    padding: 0;
    
    
    
}
#plan{
    float: right;
    width: 100px;
    border: 2px solid green;

}
nav{
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: rgb(104, 77, 77);
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #5e6994;
    color: aliceblue;
}

#main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    
}
#main-two {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;

}
#secondary{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    padding-bottom: 10%;
}

#sec-serv{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    padding-bottom: 10%;
    padding-top: 100px;
}

header{
    background-color: rgba(71, 7, 190, 0.39);
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 120px;
}

#laptop-display{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}
#write-display{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}

#top-img{
    padding-top: 5%;
    padding-bottom: 3%;
    grid-column: 2 / 10;
    width: 100%;
    height: 250px;
}
#main-three{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    
}
.img-border{
    grid-column: 5/5;
    width: 600px;
    height: 250px;
    background-color: #3d4c83;
    border-radius: 50%;
    
}

#img-three{
    margin-top: 27px ;
    margin-left: 150px;
    border: 7px solid #04175a;
    background-color: #04175a;
}
.main-h {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}
.three-h {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}

.ser-h {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    text-align: center;
    font-family: "Alegreya Sans SC", "Tahoma", sans-serif;
}
.three-p{
    grid-column: 5 / 5;
    float: left;
    width: 980px;

}
.main-p {
    grid-column: 5 / 5;
    float: left;
    width: 400px;
}
.ser-p{
    grid-column: 2 / 10;
    text-align: center;
    width: 1200px;
}

#main-img{
    grid-column: 8 / 8;
    float: right;
    width: 500px;
    border-radius: 50% ;
    height: 300px;
}
.sec-h{
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    text-align: center;
}
#sec-img{
    height: 300px;
    width: 500px;
    grid-column: 5 / 5;
}
#sec-ser-img{
    height: 400px;
    width: 500px;
    grid-column: 2 / 4;
}
.sec-p{
    width: 400px;
    grid-column: 8/8;
}
#sec-ser-p{
    width: 600px;
    grid-column: 4/10;
    
}


.test-h{
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    text-align: center;

}
#test-img{
    float: left;
    padding-right: 30px;
    grid-column: 5/8;
}
#test-p{
    float: right;
    width: 1200px;
    grid-column: 2/4;

}

footer {
    background-color: #29d1d1;
    color: #264653;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  footer p {
    font-size: 1em;
    
  }
  
  footer p:hover {
    text-decoration: underline;
  }
  
  footer .social img {
    margin-top: 200px;
    padding-left: 20px;
  }
  
  .social{
    margin-left: 300px;
  }
  
footer a {
    color: black;
    text-decoration: none;
  }
  
footer a:hover {
    color: #0D6C9E;
  }
  
.linkedin, .github, .whatsapp, .facebook{
    width: 50px;
    height: 50px;
  }
::-webkit-scrollbar {
    height: 15px;
  }
:-webkit-scrollbar-track {
    background: #4a2180;
    border-radius: 50px;
  }
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 100px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #223e46;
  }
.container {
    align-items: center;
    display: flex;
    gap: 12px;
    max-width: 1200px;
    width: 80%;
    max-height: 500px;
    background:rgba(184, 191, 214, 0.438);
    border-radius: 10px;
    padding: 30px;
    padding-top: 50px;
    margin-left: 100px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
.container .card {
    display: flex;
    flex: 0 0 96%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    background: #e9e0e0;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
.card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #041e64;
    border-radius: 50%;
  }
.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
  }
.card h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
  }
.card p {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 100;
    color: #333;
    text-align: center;
  }

.slideshow-container {
    position: relative;
    background: #270a0a5e;
    
}

  
.mySlides {
    display: none;
    padding: 0px;
    text-align: center;
    font-size: 18px;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}


.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.packages-h{
    text-align: center;

}
q {
    font-style: italic;
    font-weight: 2px;
}






@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}